*
{
    margin :0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body
{
        background:  #080808;
        color: #e9e9e9;
}

header
{
    width: 100%;
    height: 100vh;
    /* background-image: url(img/monbackground) 
    background-size: cover;
    background-position: center;
    */
}

.fixed-nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #080808a7; /* Add a background color for the fixed nav if needed */
}

.nav_container
{
    padding : 10px 10%;

}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo
{
    width: 140px;
    font-size: 24px;
}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a
{
    color: #e9e9e9;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #009ee0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after
{
    width: 100%;
}

.header_text
{
    margin-top: 20%;
    font-size: 30px;
}

.header_text h1
{
    font-size: 60px;
    margin-top: 20px;
}

/* About section */
#about
{
    padding: 80px 10%;
    color : #ababab;
}

.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_col_1
{
    flex-basis: 35%;
}

.about_col_1 img
{
    width: 100%;
    border-radius: 15px;
}

.about_col_2
{
    flex-basis: 60%;

}

.about_title
{
    font-size: 60px;
    font-weight: 600;
    color: #e9e9e9;
}

.tab_title
{
    display: flex;
    margin : 20px 0 40px;
}

.tab_link
{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab_link::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #009ee0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab_link.active_link::after
{
    width: 50%;
}

.tab_contents ul li
{
    list-style: none;
    margin: 10px 0;
}

.tab_contents ul li span
{
    color: #009ee0;
    font-size: 14px;
}

.tab_contents
{
    display: none;
}

.tab_contents.active_tab
{
    display: block;
}

/* Contact Section*/

.contact
{
    text-align: center;
    background: #292929;
    padding: 15px 0;
}

.contact h1
{
    font-size: 50px;
    padding-bottom: 15px;
}

.contact_desc a
{
    text-decoration-style: dotted;
}

/* Footers */

footer
{
    padding: 10px;
    text-align: center;
}
